body {
    background: #910002;
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}


.pomodoro {
    margin-inline: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.action {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    padding: 1rem;
    border-radius: 10rem;
    opacity: .5;
    font-size: 20px;
}


/*Permet de faire un changement "d'item' dans le panel*/
.actionActive {
    font-size: 25px;
    opacity: 1;
    color: aqua;
}

/*Pour modifier le background d'une autre couleur lorsque l'on passe en pause*/
.enPause {
    background-color: green;
}



.timer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
}

.cercle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 21rem;
    height: 21rem;
    border-radius: 50%;
    background-color: aqua;

    border: 1rem solid white;
    -webkit-box-shadow: 0px 10px 13px -7px #ffffff68, 0px 0px 15px 10px rgba(255, 255, 255, 0.35);
    box-shadow: 0px 10px 13px -7px #ffffff68, 0px 0px 15px 10px rgba(255, 255, 255, 0.35);

}

.temps {
    position: relative;
    display: flex;
    flex-direction: row;
}

.temps p {
    font-size: 5rem;
}


h1 {
    padding: 0%;
    margin-top: 10px;
    font-size: 5em;
    color: white;
}