body {
    transition: background-color 2.0s ease;
    background-color: #910002;

    display: flex;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}


.pomodoro {
    margin-inline: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.action {
    background-color: white;
    text-align: center;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 25px;
    font-size: 20px;

    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;

    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.21);
    backdrop-filter: blur(6.8px);
    -webkit-backdrop-filter: blur(6.8px);
    border: 1px solid rgba(255, 255, 255, 1);
}

#etat {
    color: #ffffff;
}



.timer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
}

#cercle {
    transition: background-color 2.0s ease;

    background-color: #910002;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 21rem;
    height: 21rem;
    border-radius: 50%;
    border: 1px solid white;
    -webkit-box-shadow: 5px 5px 5px 0px #ffffff, inset 4px 4px 15px 0px #ffffff, 0px 0px 20px 0px rgba(255, 255, 255, 0.5);
    box-shadow: 5px 5px 5px 0px #ffffff, inset 4px 4px 15px 0px #ffffff, 0px 0px 20px 0px rgba(255, 255, 255, 0.5);
}

.temps {
    position: relative;
    display: flex;
    flex-direction: row;
}

.temps p {
    font-size: 5rem;
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    color: white;
}


h1 {
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    margin-top: 10px;
    font-size: 5em;
    color: white;
}





/*Pour modifier le background d'une autre couleur lorsque l'on passe en pause*/

.enPause {
    background-color: #89894d;
}


#cercle.enPause {
    background-color: #89894d; 
}

.boutons button {
    margin: 5px;
    padding: auto;
    width: 60px;              
    height: 60px;             
    background-color: #ffffff;
    border: none;              
    border-radius: 50%;        
    color: rgb(0, 0, 0);              
    text-align: center;        
    line-height: 60px;         
    font-size: 18px;          
    font-family: 'Fredoka', sans-serif; 
    cursor: pointer;           
}
